:root {
    --primary-color: #08605f;
    --secondary-color: #a2ad59;
    --accent1-color: #177e89;
    --accent2-color: #324948;
    --accent3-color: #EDEEE8;
    --primary-font: "bad script", Arial, sans-serif;
    --secondary-font: "Edu QLD Beginner", Geneva, serif;

}

* {
    margin: 15px;
    padding: 5px;
    border: 3px;
    border-color: var(--secondary-color);
}

body {
    width: 800px;
    height: auto;
}

main {
    color: var(--primary-color);
    margin: 2rem auto;
    font-family: var(--primary-font);
    width: 800px;
}

.hero {
    position: relative;
    width: 100%;
}

.heropic {
    display: block;
    width: 100%;
    height: auto;
    opacity: .7;
}

.hero h1 {
    font-family: var(--secondary-font);
    color: var(--accent3-color);
    text-shadow: 3px 5px var(--accent2-color);
    position: absolute;
    top: 10%;
    left: 18%;
    right: 18%;
    background-color: var(--accent1-color);
    border-style: solid;
}

.news_letter {
    /* display: flex; */
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 50% 50%;
}

h2{
    /* align-items: center;
    align-items: flex-start; */
    grid-area: 1/1/2/3;
    
}
.news_letter img {
    width: 100%; 
    /* align-items: flex-end; */
}

.join {
    background-color: var(--accent1-color);
    display: flex;
}
.join a {
    text-decoration: none;
}

.join section {
    background-color: var(--accent3-color);
}
.join img {
    width: 50%;
}

.tradition {
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 33% 33% 33%;
}

.tradition h2 {
    grid-area: 1/2/2/3;
}

.tradition img {
    width: auto;
    height: 125px;
    grid-row: 2;
}

.tradition p {
    grid-area: 2/2/3/3;
}

article {
    position: absolute;
    top: 33%;
    left: 10%;
    right: 10%;
    border-style: solid;
    background-color: var(--accent1-color);
    color: var(--accent3-color );
}

article p {
    font-family: var(--primary-font);
    color: var(--accent3-color);
    text-wrap: balance;  
}

.employee {
    float: right;
    width: 110px;
    opacity: .8;
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 10% 90%;
    background-color: var(--accent3-color);
}

.history h2 {
    grid-column-start: 2;
    display: flex;
    justify-content: center;
}

.history img {
    width: 200px;
    grid-row-start: 2;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
}

.history p {
    grid-area: 2/1/3/4;
    display: flex;
}

.adventure {
    display: grid;
    grid-template-rows: 20% 80%;
    font: var(--secondary-font);
    text-wrap: nowrap;
}

h2 {
    text-shadow: 0 0 15px var(--accent1-color);
    border-bottom: 1px solid var(--accent2-color);
    margin: auto; 
}

.rowofimages {
    display: flex;
    margin-left: 0px;
}

.adventure img{
    width: 110px;
    height: auto;
    grid-row-start: 2;
    margin: 0px;
    padding: 0px;
}

figcaption {
    margin: auto;
    background-color: var(--accent2-color);
    color: var(--accent3-color);
    border-style: solid;  
}



header {
    width: 800px;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 1fr .6fr 4fr .7fr;
    grid-template-rows: 10px 170px 10px;
    font-family: var(--secondary-font);
}

header img {
    border-style: solid;
    margin: 30px;
    width: 117px;
    grid-template-rows: 100%;
    grid-column: 2;
    grid-row: 2;
}

header nav {
    margin: 0px;
    padding: 0px;
    grid-column: 4;
    grid-row: 2;
    display: flex;
    align-items: center;
}

header a {
    border-style: solid;
    text-wrap: nowrap;
    background-color: var(--accent3-color);
    margin: 0px;
    width: 85px;
    text-align: center;
    text-decoration: none;
}

.guides img {
    border-radius: 50%;
    background-color: var(--secondary-color);

}

form {
    border-style: groove;
    border-color: var(--secondary-color);
    /* top: 25%; */
    background-color: var(--accent2-color);
    color: var(--accent3-color);
    font-family: var(--secondary-font);
    
}

.formimg {
    width: 250px;
    float:  right;
}
input  {
    background-color: var(--accent3-color);
}

textarea {
    color: var(--accent3-color);
}
.location {
    display: grid;
    /* display: flex; */
    grid-template-columns: 10% 35% 55%;
    grid-template-rows: 20% 25% 25% 25%;
    background-color: var(--secondary-color);
    
    
}
.location h2 {
    grid-area: 1/1/2/4;
    background-color: var(--accent3-color);
}
.location img {
    height: 45px;
    grid-column: 1;
    /* grid-row-start: 2;
    grid-row-end: 4; */
}

.location p {
    grid-column: 2;
    background-color: var(--accent3-color);
    font-family: var(--secondary-font);


}
.location iframe{
    grid-area: 2/3/5/4;
}
.reverse img{
    opacity: .5;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    width: 800px;
    height:auto;
    grid-area: 1/1/5/4;
    position: absolute;

}
footer {
    display: flex;
    
}


footer p {
    margin: 0px;
    padding: 0px;
    
    align-self: center;
    

}
.sociallinks img {
    width: 25px;
    
    
}

footer nav a {
    text-decoration: none;
    width: 5px;
    padding: 0px;
    margin: 0px;
    
    
}