nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150 px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
}

aside {
    width: 2100.
    px;
    margin: 10px;
    border: 1px dotted rgb(255, 127, 80/.3);
    padding: 15 px #fff;
    background-color: rgb(166, 194, 195);
    color: rgb(75, 73, 64);
    text-align: center;

}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10px gray;
    border-top: 15px solid rgb(154, 205, 50);
    text-align: center;
}