:root {
    --heading-background-color: rgb(35, 35, 144);
    --heading-text-color: rgb(166, 194, 195);
    --padding: 15px;
    --border: 2px solid black;
    --box-shadow: 0 0 30px gray;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
nav {
    background-color: var(--heading-background-color);
    text-emphasis-color: var(--heading-text-color);
    padding: var(--padding);
}

nav a {
    color: white;
    display: block;
    padding: var(--padding);
}

h1 {
    color: darkblue;
    /* float: right; */
}

img {
    width: 150 px;
    height: auto;
    border: var(--border);
    padding: var(--padding);
    box-shadow: var(--box-shadow);
    /* float: right; */
}

p {
    padding: var(--padding);
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

aside {
    width: 210px;
    /* margin: 10px;
    border: var(--border);
    padding: var(--padding), #fff;
    background-color: rgb(166, 194, 195);
    color: rgb(75, 73, 64); */
    text-align: center;
   

}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 47 px;
    left: 150px;
}
footer {
    margin-top: 10px gray;
    border-top: 15px solid rgb(96, 8, 33);
    text-align: center;
}

/*Class Selectors*/
.box{
    margin: 1rem;
    border: 2px dotted;
    padding: 1rem;
    background-color: darkseagreen;
    color: aliceblue;
}